{#
/**
 * @file
 * Theme implementation for module's help.
 */
#}
<p>
  {{ 'Module provides a clean block, used to present real estates in any way, through additional plugins. Module has a plugin manager, which gathers all plugins and displays them in a predetermined way. This is designed in such a way that external modules can create their own plugins. Block configuration form has tabs, each for every plugin, allowing only selected ones to be included. Each enabled plugin has its own settings form and generates its content based on them. Additionally, the order of plugins is configurable.'|t }}
</p>
<p>
  {{ 'Block will display two sections - the tabs with a list of enabled plugins and first chosen tab. Switching a tab will change the associated content by ajax reloading. The block must have at least one plugin enabled to be displayed. If only one plugin is enabled, tabs will not be displayed. The block can be placed repeatedly in different places on the page in any configuration.'|t }}
</p>
