.navigation-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px auto 15px auto;
}

.navigation-container.one-select {
  justify-content: center;
}

.navigation-container.two-selects {
  justify-content: space-between;
  width: 30%;
}

.navigation-container.three-selects {
  justify-content: space-between;
  width: 50%;
}

.navigation-container .form-item {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.navigation-container .form-item label {
  margin: 0;
}

.navigation-container .form-item select {
  height: 40px;
}

.visualization-main-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visualization-main-content.flat-stage {
  padding-bottom: 80px;
}

.visualization-main-content svg,
.visualization-main-content svg image {
  width: 100%;
  height: auto;
}

.visualization-main-content .entity-description {
  width: 20%;
}

.visualization-main-content .entity-description .field {
  margin: 0;
}

.visualization-main-content .entity-description .field .field__label {
  font-weight: bold;
}

.visualization-main-content .entity-description .field .field__label::after {
  content: ':';
}

.visualization-main-content .description {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 20px;
  font-weight: 600;
  background: #ffffff80;
  padding: .3em .8em;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
}

.visualization-main-content svg[data-entity-keyword="flat"] {
  width: 40%;
  height: fit-content;
}

.visualization-main-content path:not(.sold) {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.visualization-main-content .with-status:not(.sold):hover {
  -o-animation: pulse 2s infinite ease-in-out;
  -ms-animation: pulse 2s infinite ease-in-out;
  -moz-animation: pulse 2s infinite ease-in-out;
  animation: pulse 2s infinite ease-in-out;
}

.visualization-main-content .visualization-webform {
  width: 30%;
}

.visualization-main-content .visualization-webform input {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 1rem;
  height: 40px;
}

.visualization-main-content .visualization-webform textarea {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 1rem;
  height: 100px;
}

.visualization-main-content .visualization-webform .webform-button--submit {
  cursor: pointer;
  background: #fff;
  padding: .5em 1.6em;
  border: 2px solid black;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  color: black;
  transition: .3s;
}

.visualization-main-content .visualization-webform .webform-button--submit:hover {
  background: black;
  border: 2px solid white;
  color: white;
}

.visualization-main-content .legend {
  position: absolute;
  bottom: 2%;
  right: 2%;
  padding: .5em 1.6em;
  border: 2px solid black;
  border-radius: 8px;
  background: #ffffff80;
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.visualization-main-content .legend span:not(:first-child) {
  margin-left: 30px;
}

.visualization-main-content .legend span::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 15px -2px 0;
}

.visualization-main-content .legend .available::before {
  background-color: green;
}

.visualization-main-content .legend .reserved::before {
  background-color: orange;
}

.visualization-main-content .legend .sold::before {
  background-color: red;
}

.visualization-main-content .entity-information {
  background: white;
  display: inline-block;
  border: 2px solid black;
  border-radius: 8px;
  padding: .4em .8em;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
}

.visualization-main-content .entity-information .field {
  margin: 0;
}

.visualization-main-content .entity-information .field .field__label {
  font-weight: bold;
}

.visualization-main-content .entity-information .field .field__label::after {
  content: ':';
}

.visualization-main-content .re-mgr-visualization-btn {
  position: absolute;
  left: 2%;
  bottom: 2%;
}

.visualization-main-content .re-mgr-visualization-btn.ask-for-offer-btn {
  left: unset;
  right: 2%;
}

.visualization-main-content .re-mgr-visualization-btn.description-btn {
  bottom: unset;
  top: 2%;
}

.re-mgr-visualization-btn {
  cursor: pointer;
  background: #fff;
  padding: .5em 1.6em;
  border: 2px solid black;
  font-weight: 600;
  font-size: 22px;
  border-radius: 8px;
  color: black;
  transition: .3s;
}

.re-mgr-visualization-btn:hover {
  background: black;
  border: 2px solid white;
  color: white;
}

.re-mgr-visualization-btn.use-ajax + .ajax-progress {
  display: none;
}

@media (max-width:1000px) {
  .navigation-container.two-selects {
    width: 45%;
  }

  .navigation-container.three-selects {
    width: 70%;
  }

  .navigation-container .form-item label {
    font-size: 12px;
  }

  .navigation-container .form-item select {
    font-size: 12px;
    height: 30px;
  }

  .visualization-main-content .description {
    font-size: 16px;
    padding: .2em .6em;
  }

  .re-mgr-visualization-btn {
    font-size: 18px;
    padding: .3em 1.2em;
  }

  .visualization-main-content .legend {
    font-size: 18px;
    padding: .3em .8em;
  }

  .visualization-main-content .legend span:not(:first-child) {
    margin-left: 15px;
  }

  .visualization-main-content .legend span::before {
    width: 17px;
    height: 17px;
    margin: 0 10px -2px 0;
  }

  .visualization-main-content .entity-information {
    font-size: 12px;
  }

  .visualization-main-content .visualization-webform .webform-button--submit {
    font-size: 16px;
    padding: .3em 1.2em;
  }

  .visualization-main-content .entity-description {
    width: 40%;
  }

  .visualization-main-content svg[data-entity-keyword="flat"] {
    width: 55%;
  }

  .visualization-main-content .visualization-webform {
    width: 100%;
  }
}

@media (max-width:800px) {
  .visualization-main-content .legend {
    display: none;
  }

  .visualization-main-content .entity-description {
    width: 100%;
  }

  .visualization-main-content svg[data-entity-keyword="flat"] {
    width: 100%;
  }

  .visualization-main-content .visualization-webform {
    width: 100%;
  }
}

@media (max-width:500px) {
  .navigation-container {
    margin: -15px auto 10px auto;
  }

  .navigation-container .form-item label {
    font-size: 10px;
  }

  .navigation-container .form-item select {
    font-size: 10px;
    height: 25px;
  }

  .visualization-main-content .description {
    font-size: 12px;
    margin-left: 7px;
  }

  .re-mgr-visualization-btn {
    font-size: 14px;
  }

  .visualization-main-content .entity-information {
    font-size: 10px;
  }

  .visualization-main-content .visualization-webform .webform-button--submit {
    font-size: 12px;
  }

  .visualization-main-content .visualization-webform input {
    height: 30px;
    font-size: 12px;
    padding: .375rem .75rem;
    border-radius: 3px;
  }

  .visualization-main-content .visualization-webform textarea {
    height: 50px;
    font-size: 12px;
    padding: .375rem .75rem;
    border-radius: 3px;
  }
}

@media (max-width:360px) {
  .visualization-main-content,
  .navigation-container {
    display: none;
  }
}
